h4 > span {
	background-color: darkgoldenrod;
	color: #fff;
	text-align: center;
	float: right;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .tasks-column {
	max-height: 80vh;
	overflow-y: scroll;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  ::-webkit-scrollbar {
	width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(194, 194, 194);
	border-radius: 5px;
  }
  
  .alert{
	  cursor: pointer;
	  transition: .3s all ease-out;
  }
  
  .alert:hover{
	  transform: scale(1.03);
  }
  
  .alert:active{
	  transform: scale(1.01);
  }